AnchorPane{
    -fx-background-image:url(./pic/login.png);
}
.text-field{
   -fx-background-color: transparent;
   -fx-border-width: 0;
}
.button{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}


